.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto 0;
  padding-top: 20%;
}

@media (max-width:425px) {
  .cover__title {
    max-width: 300px;
    font-size: 32px;
    line-height: 35px;
  }
}