.intro {
  margin: 92px auto 0 auto;
  max-width: 80%;
}

@media (max-width:1024px) {
  .intro {
    max-width: 90vw;
  }
}

@media (max-width:768px) {
  .intro {
    margin-bottom: 88px;
    max-width: 94vw;
  }
}