.header__lang-link {
  margin: 0 0 0 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.header__lang-link:hover {
  opacity: 0.6;
  transition: all 0.4s ease;
} 